In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/content/historical_data_SCIENTIFIC_NPK_FINAL_UNIFIED.csv')

In [3]:
df1.head()

,id,location_name,latitude,longitude,year,month,sand,silt,clay,soc,...,updated_at,nitrogen,phosphorus,potassium,soil_version_year,soil_data_year,npk_estimation_method,npk_correction_date,soc_unit,cec_unit
0,743,Alexandria,31.2001,29.9187,2017,1,41.9,32.6,25.4,36.4,...,2025-11-21 20:19:35.197,0.317,35.0,142.6,2017,2017,"Scientific (Brady&Weil 2008, Sparks 2003, Havl...",2025-12-25T22:56:39.861521,g/kg,cmol/kg
1,744,Alexandria,31.2001,29.9187,2017,2,41.9,32.6,25.4,36.4,...,2025-11-21 20:19:35.197,0.317,35.0,142.6,2017,2017,"Scientific (Brady&Weil 2008, Sparks 2003, Havl...",2025-12-25T22:56:39.861521,g/kg,cmol/kg
2,745,Alexandria,31.2001,29.9187,2017,3,41.9,32.6,25.4,36.4,...,2025-11-21 20:19:35.197,0.317,35.0,142.6,2017,2017,"Scientific (Brady&Weil 2008, Sparks 2003, Havl...",2025-12-25T22:56:39.861521,g/kg,cmol/kg
3,746,Alexandria,31.2001,29.9187,2017,4,41.9,32.6,25.4,36.4,...,2025-11-21 20:19:35.197,0.317,35.0,142.6,2017,2017,"Scientific (Brady&Weil 2008, Sparks 2003, Havl...",2025-12-25T22:56:39.861521,g/kg,cmol/kg
4,747,Alexandria,31.2001,29.9187,2017,5,41.9,32.6,25.4,36.4,...,2025-11-21 20:19:35.197,0.317,35.0,142.6,2017,2017,"Scientific (Brady&Weil 2008, Sparks 2003, Havl...",2025-12-25T22:56:39.861521,g/kg,cmol/kg

In [4]:
df1['location_name'].unique()

array(['Alexandria', 'Damietta', 'Port Said', 'Mansoura', 'Tanta',
       'Zagazig', 'Cairo', 'Giza', 'Assiut', 'Luxor', 'Aswan', 'Fayoum',
       'New Valley', 'Matrouh', 'Red Sea', 'North Sinai', 'South Sinai',
       'Alexandria_Agriculture', 'Damietta_Farmland', 'Tanta_Farms',
       'Mansoura_Fields', 'Sharqia_Farms', 'Nile_Trees_BeniSuef',
       'Nile_Trees_Minia', 'Nile_Trees_Asyut', 'Fayoum_Grasslands',
       'Wadi_ElNatrun', 'Siwa_Grasslands', 'Mediterranean_Coast_Alex',
       'Red_Sea_Coast_Hurghada', 'Lake_Nasser_1', 'Suez_Canal',
       'Manzala_Wetland', 'Burullus_Wetland', 'Sinai_Shrubs_StCatherine',
       'Red_Sea_Mountains'], dtype=object)

In [5]:
df1.columns

Index(['id', 'location_name', 'latitude', 'longitude', 'year', 'month', 'sand',
       'silt', 'clay', 'soc', 'ph', 'bdod', 'cec', 'ndvi', 't2m_c', 'td2m_c',
       'rh_pct', 'tp_m', 'ssrd_jm2', 'lc_type1', 'ndvi_source',
       'climate_source', 'lc_source', 'data_quality_score', 'created_at',
       'updated_at', 'nitrogen', 'phosphorus', 'potassium',
       'soil_version_year', 'soil_data_year', 'npk_estimation_method',
       'npk_correction_date', 'soc_unit', 'cec_unit'],
      dtype='object')

In [6]:
df1.shape

(3554, 35)

In [7]:
df1.isna().sum()

id                         0
location_name              0
latitude                   0
longitude                  0
year                       0
month                      0
sand                       0
silt                       0
clay                       0
soc                      216
ph                         0
bdod                     216
cec                        0
ndvi                       0
t2m_c                     16
td2m_c                    16
rh_pct                    16
tp_m                      16
ssrd_jm2                  16
lc_type1                   0
ndvi_source                0
climate_source            16
lc_source                  0
data_quality_score         0
created_at                 0
updated_at                 0
nitrogen                   0
phosphorus                 0
potassium                  0
soil_version_year          0
soil_data_year             0
npk_estimation_method      0
npk_correction_date        0
soc_unit                   0
cec_unit                   0
dtype: int64

In [8]:
df1['lc_type1'].unique()

array([50, 60, 80, 40, 90])

In [9]:
df2 = pd.read_csv('/content/des_df.csv')

In [10]:
df2.shape

(142351, 20)

In [11]:
df2.head()

,longitude,latitude,year,month,area,ndvi,t2m_c,td2m_c,rh_pct,tp_m,ssrd_jm2,LC_Type1,sand,silt,clay,soc,ph,bdod,cec,POP
0,32.209095,30.178902,2023,2,NorthSinai,0.08040,12.618554,3.882845,55.253975,0.008923,6.611885e+09,60,366,261,373,47,80,138,161,0.504184
1,33.646400,30.331615,2023,2,NorthSinai,0.10620,10.287051,2.998181,60.573230,0.024430,6.967053e+09,60,332,346,324,42,80,141,135,0.000762
2,33.565550,31.032300,2023,2,NorthSinai,0.10130,12.752968,6.350627,65.034386,0.107716,6.576160e+09,60,333,353,315,71,79,146,152,0.675810
3,32.622320,30.160936,2023,2,NorthSinai,0.26025,12.631394,4.875687,59.182293,0.010358,6.718644e+09,40,396,329,276,52,80,137,141,0.705407
4,32.343840,29.846525,2023,2,NorthSinai,0.11265,12.745646,3.865558,54.728940,0.023517,6.864726e+09,60,413,306,281,58,80,137,146,0.000018

In [12]:
df2['LC_Type1'].unique()

array([60, 40, 80, 30, 50, 90, 10, 20])

In [13]:
df2[df2['LC_Type1']==40]

,longitude,latitude,year,month,area,ndvi,t2m_c,td2m_c,rh_pct,tp_m,ssrd_jm2,LC_Type1,sand,silt,clay,soc,ph,bdod,cec,POP
3,32.622320,30.160936,2023,2,NorthSinai,0.26025,12.631394,4.875687,59.182293,0.010358,6.718644e+09,40,396,329,276,52,80,137,141,0.705407
20,34.194370,31.265863,2023,2,NorthSinai,0.40660,13.476676,6.754238,63.777702,0.337995,6.172086e+09,40,463,315,223,132,80,148,230,3.236056
32,32.227062,30.951452,2023,2,NorthSinai,0.33985,13.906096,5.776595,57.976710,0.079810,6.199573e+09,40,338,275,388,188,79,123,214,0.009523
52,32.182144,30.735857,2023,2,NorthSinai,0.58160,13.440119,5.068845,56.895145,0.048220,6.326373e+09,40,319,318,363,181,79,136,173,5.277103
58,32.110280,30.592127,2023,2,NorthSinai,0.65050,13.752436,4.862820,54.955345,0.048201,6.279299e+09,40,394,302,305,312,74,138,194,1.564493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142278,28.301422,31.032300,2023,10,Matrouh,0.10000,23.287886,16.948524,67.533370,0.081758,7.546039e+09,40,409,295,297,163,79,147,165,0.026241
142289,28.085827,31.032300,2023,10,Matrouh,0.11260,23.103638,17.042925,68.700270,0.078661,7.572413e+09,40,329,357,315,145,80,147,161,0.101868
142309,28.355322,31.032300,2023,10,Matrouh,0.10540,23.344112,16.747334,66.450180,0.084799,7.549504e+09,40,399,330,272,166,80,147,168,0.024734
142319,28.022945,31.014336,2023,10,Matrouh,0.11660,22.965950,16.857565,68.465860,0.076229,7.625984e+09,40,338,337,326,146,80,143,171,0.038858
142337,27.879215,31.077217,2023,10,Matrouh,0.09860,23.390780,17.192825,68.161896,0.086181,7.603587e+09,40,362,337,301,148,79,145,186,0.244772

In [14]:
# rename LC_Type1
df2.rename(columns={'LC_Type1': 'lc_type1'}, inplace=True)

In [15]:
# rename area to location_name
df2.rename(columns={'area': 'location_name'}, inplace=True)

In [16]:
df = pd.concat([df1, df2], axis=0)

In [17]:
df.shape

(145905, 36)

In [18]:
df.columns

Index(['id', 'location_name', 'latitude', 'longitude', 'year', 'month', 'sand',
       'silt', 'clay', 'soc', 'ph', 'bdod', 'cec', 'ndvi', 't2m_c', 'td2m_c',
       'rh_pct', 'tp_m', 'ssrd_jm2', 'lc_type1', 'ndvi_source',
       'climate_source', 'lc_source', 'data_quality_score', 'created_at',
       'updated_at', 'nitrogen', 'phosphorus', 'potassium',
       'soil_version_year', 'soil_data_year', 'npk_estimation_method',
       'npk_correction_date', 'soc_unit', 'cec_unit', 'POP'],
      dtype='object')

In [19]:
# drop id, latitude, longitude, 'ndvi_source','climate_source', 'lc_source', 'data_quality_score', 'created_at','updated_at', 'nitrogen', 'phosphorus', 'potassium','soil_version_year', 'soil_data_year', 'npk_estimation_method','npk_correction_date', 'soc_unit', 'cec_unit', 'area', 'LC_Type1','POP'

columns_to_drop = [
    'id', 'latitude', 'longitude', 'ndvi_source','climate_source', 'lc_source',
    'data_quality_score', 'created_at','updated_at', 'nitrogen', 'phosphorus',
    'potassium','soil_version_year', 'soil_data_year', 'npk_estimation_method',
    'npk_correction_date', 'soc_unit', 'cec_unit','POP'
]

df = df.drop(columns=columns_to_drop)

In [20]:
df.head()

,location_name,year,month,sand,silt,clay,soc,ph,bdod,cec,ndvi,t2m_c,td2m_c,rh_pct,tp_m,ssrd_jm2,lc_type1
0,Alexandria,2017,1,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.23490,13.499527,6.782051,63.804614,0.317607,5.313632e+09,50
1,Alexandria,2017,2,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.25945,14.102349,7.990648,66.637249,0.114083,6.185134e+09,50
2,Alexandria,2017,3,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.26755,16.424418,9.963948,65.578252,0.074304,2.725764e+09,50
3,Alexandria,2017,4,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.23695,18.480010,11.995997,65.915311,0.056938,1.058778e+10,50
4,Alexandria,2017,5,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.22175,22.038071,15.278302,65.490480,0.030640,1.216407e+10,50

In [21]:
df.duplicated().sum()

np.int64(21675)

In [22]:
df.drop_duplicates(inplace=True)

In [23]:
df.head()

,location_name,year,month,sand,silt,clay,soc,ph,bdod,cec,ndvi,t2m_c,td2m_c,rh_pct,tp_m,ssrd_jm2,lc_type1
0,Alexandria,2017,1,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.23490,13.499527,6.782051,63.804614,0.317607,5.313632e+09,50
1,Alexandria,2017,2,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.25945,14.102349,7.990648,66.637249,0.114083,6.185134e+09,50
2,Alexandria,2017,3,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.26755,16.424418,9.963948,65.578252,0.074304,2.725764e+09,50
3,Alexandria,2017,4,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.23695,18.480010,11.995997,65.915311,0.056938,1.058778e+10,50
4,Alexandria,2017,5,41.9,32.6,25.4,36.4,7.6,1.38,2.14,0.22175,22.038071,15.278302,65.490480,0.030640,1.216407e+10,50

In [24]:
df['location_name'].value_counts()

location_name
Dakahlia                    69519
Fayoum                      30672
NorthSinai                  16096
Matrouh                      4386
NewValley                     217
Damietta                      108
Alexandria                    108
Lake_Nasser_1                 108
Nile_Trees_BeniSuef           108
Tanta                         108
Mansoura                      108
Port Said                     108
Aswan                         108
Giza                          108
Assiut                        108
North Sinai                   108
South Sinai                   108
Damietta_Farmland             108
Tanta_Farms                   108
Sharqia_Farms                 108
Luxor                         108
New Valley                    108
Red Sea                       108
Manzala_Wetland               108
Red_Sea_Coast_Hurghada        108
Mansoura_Fields               108
Nile_Trees_Minia              108
Siwa_Grasslands               108
Nile_Trees_Asyut              108
Fayoum_Grasslands             108
Wadi_ElNatrun                 108
Burullus_Wetland              108
Suez_Canal                    108
Mediterranean_Coast_Alex      108
Cairo                         107
Alexandria_Agriculture         87
Zagazig                         6
Sinai_Shrubs_StCatherine        6
Red_Sea_Mountains               2
Name: count, dtype: int64

In [25]:
df[df['location_name']=='Red_Sea_Mountains']

,location_name,year,month,sand,silt,clay,soc,ph,bdod,cec,ndvi,t2m_c,td2m_c,rh_pct,tp_m,ssrd_jm2,lc_type1
3552,Red_Sea_Mountains,2017,1,46.4,33.9,19.8,5.1,8.0,1.37,1.87,0.07325,14.758080,-2.046156,31.364673,0.000311,7.543024e+09,60
3553,Red_Sea_Mountains,2017,2,46.4,33.9,19.8,5.1,8.0,1.37,1.87,0.06345,15.034445,-1.538901,31.983843,0.000310,8.259136e+09,60

In [26]:
df.isna().sum()

location_name      0
year               0
month              0
sand               0
silt               0
clay               0
soc              216
ph                 0
bdod             216
cec                0
ndvi               0
t2m_c             16
td2m_c            16
rh_pct            16
tp_m              16
ssrd_jm2          16
lc_type1           0
dtype: int64

In [27]:
df.dropna(inplace=True)

In [28]:
df.shape

(123999, 17)

In [29]:
df.columns.to_list()

['location_name',
 'year',
 'month',
 'sand',
 'silt',
 'clay',
 'soc',
 'ph',
 'bdod',
 'cec',
 'ndvi',
 't2m_c',
 'td2m_c',
 'rh_pct',
 'tp_m',
 'ssrd_jm2',
 'lc_type1']

In [30]:
# save df as csv file
df.to_csv('final_df.csv', index=False)